<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eos facere aspernatur magnam, enim tempora, dolorem porro culpa iure sunt doloremque voluptate dignissimos qui veniam vitae, architecto animi eum reiciendis.
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eos facere aspernatur magnam, enim tempora, dolorem porro culpa iure sunt doloremque voluptate dignissimos qui veniam vitae, architecto animi eum reiciendis.
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eos facere aspernatur magnam, enim tempora, dolorem porro culpa iure sunt doloremque voluptate dignissimos qui veniam vitae, architecto animi eum reiciendis.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>